DB_USER=user
DB_PASSWORD=securepass2026!
DB_NAME=database
DB_HOST=localhost
DB_PORT=5432

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=user
MINIO_SECRET_KEY=secureminiopass2026!
RATE_LIMITS_FILE=./config/rate_limits.yaml
